<div>
  <div class="content">

    <h2>Our Story</h2>
    <h3>Galaxy Deliveries - Feeding You the Right Stuff Since 2369</h3>
    <p>The extremely delicious and addicting food that you enjoy from us at Galaxy Deliveries
      isn't drug enhanced gimmick. It's how we do business, and always have. While our network
      continuously grows and adds more fleets to our service, our aim is still to provide Federation
      fleet pesonnel and civilians with the best Earth foods possible. </p>
    <img src="image/ship.jpg" alt="spaceship">

    <ul>
      <li><h3>Creating Customers For Life</h3><p>It all began in 2369, on board the U.S.S Defiant, where a young red shirt &amp; foodie named Rich Zhou gave up his Federation career to start-up this awesome food service. From the get-go, he recognized that anybobdy can sell food; it was earning customer trust that takes more.</p></li>
      <li><h3>Values</h3><p>Rich's vision for his company was built on principles that still guide what we do:<br> Provide consistently declicious meals.<br> Use only the freshest of ingredients.<br> Provide service that is consistently amazing.</p></li>
      <li><h3>Availability</h3><p>Our popularity and quality speaks for itself by the growth of our service network. With over 10 years in business and a network that works on all Federation terminals, we are the largest independant food dealer in most galaxies.</p></li>
    </ul>

    <h2>About Richard</h2>
    <img class="portrait" src="image/rich2.jpg" alt="me">
    <p>My name is Richard, a former federation personnel and a young entrepreneur. My motto is eat food, feel good. And this might come as not suprise, but star fleet rations did not make me feel good. Risking my life day in and day out without a decent meal was borderline torture. Thus I gave up my position and decided make others in the federation feeling better.  </p>
  </div>
</div>
