<div class="content">

  <h2>Tired of Federation Mandated Rations?</h2>
  <img src="image/image1.jpg" alt="colony &amp; food" >
  <h2>Come get your favourite earth foods!!!</h2>
    <ul>
      <li><h3>Choices</h3><p>We carry a wide selection of foods from the planet with the best cusine, Earth!</p></li>
      <li><h3>Fresh</h3><p>All are dishes are prepared from fresh, organic, non-GMO, interspecies-safe ingredients</p></li>
      <li><h3>Instant</h3><p>Our deliveries are almost inspontanteous, with zero wait times.</p></li>
    </ul>

  <h2>Now Serving:</h2>
  <img src="image/map.jpg" alt="space map" >
</div>
