<div class="container">
  <div class="content">
    <form method="POST">
      <h2>Please Login</h2>
      <table class="sign">
        <tr>
         <td>Username: </td>
         <td><input type="text" name="username" id="user"  placeholder="Username" required></td>
       </tr>
       <tr>
           <td>Password:</td>
           <td><input type="password" name="password" id="pwd" placeholder="Password" required></td>
      </tr>
      <tr>
           <td></td>
           <td><button class="logB" type="submit">Login</button></td>
          </form>
      </tr>
      <tr>
           <td></td>
           <form method="get" action="register.php"></form>
           <td><a class="logB" href="register.php">Register</a></td>
      </form>
      </tr>
    </table>
    
  </div>
</div>
