<div class="container">
	<div class="sideways">
		<div class="vNav">
			<ul>
					{% for item in menu %}
					<li><a href='{{item[1]}}'>{{item[0]}}</a></li>
					{% endfor %}
			</ul>

		</div>

		<div class="content">
			<h2>{{type}}</h2>
			<div class="food">
			{% for p in product %}
				<div class="fooditem">
					<a href="item.php?id={{p[3]}}"><img src="{{p[2]}}" class="fPic" alt="Food Image"></a>
                    <strong>{{p[0]}} <br>Price: {{p[1]}} Credits</strong>
                            <table>
                                <tr>
                                    <td><strong>Quantity:</strong></td>
                                    <td><input type="text" name="start" id="quantity{{p[3]}}" value="1" required/></td>
                                </tr>
                            </table>
                                <input type="hidden"  id="pid{{p[3]}}" value="{{p[3]}}" />
                                <input type="hidden"  id="price{{p[3]}}" value="{{p[1]}}" />
                            <button type="button" class="logB" onclick='add(this);' value="{{p[3]}}">Add to Cart</button>
					</div>
				{% endfor %}
			</div>
			</table>
		</div>
	</div>
</div>