<div class="container">
  <div class="content">
      <h2>Registration</h2>
      <table class="sign">
        <tr>
         <td>Username: </td>
         <td><input type="text" id="user"></td>
       </tr>
       <tr>
           <td>Password:</td>
           <td><input type="text" id="pwd"></td>
      </tr>
      <tr>
            <td>First Name:</td>
            <td><input type="text" id="fname" ></td>
       </tr>
       <tr>
            <td>Last Name:</td>
            <td><input type="text" id="lname"></td>
       </tr>
       <tr>
            <td>Fleet ID:</td>
            <td><input type="text" id="fid"></td>
       </tr>
      <tr>
           <td></td>
           <td><button type="button" class="logB" onclick="reg()">Register</button></td>
      </tr>
    </table>
    </form>
  </div>
</div>
