<div class="content">

	<h2>Support</h2>
	<img src="image/earth.jpg" alt="earth" >
	<h3>We'll Always Be Here If You Need Us!</h3>
	<ul class="crossList">
		<li>We provide 24/7 customer service for whenever you're in need or just want someone to talk to.<br>Call us at: <a href="tel:+15555551212">555-555-1212</a></li>
		<li>Meet us in person at <br>123 Main st, Vancouver, BC, Earth<br>Open from 10AM-8PM daily. </li>
		<li>If moving around and talking isn't your thing, you can reach us by email at:<br><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">support@gExpress.ca</a></li>
	</ul>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.6166337658387!2d-123.10197848410114!3d49.283661078622025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717130bd25c5%3A0x23ac74c19ac998c0!2s123+Main+St%2C+Vancouver%2C+BC+V6A!5e0!3m2!1sen!2sca!4v1511271150677" width="600" height="450" frameborder="0" allowfullscreen></iframe>
</div>
